BR2_x86_64=y
BR2_BACKUP_SITE="https://sources.buildroot.net"
BR2_CPAN_MIRROR="https://cpan.metacpan.org"
BR2_GCC_VERSION_12_X=y
BR2_KERNEL_HEADERS_5_10=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
# 静态库、动态库都生成
BR2_SHARED_STATIC_LIBS=y

######################################## 登录信息 ########################################
BR2_TARGET_GENERIC_HOSTNAME="sophgo"
BR2_TARGET_GENERIC_ISSUE="Welcome to sophgo"
BR2_TARGET_GENERIC_ROOT_PASSWD="sophgo"
BR2_ROOTFS_OVERLAY="board/sophgo"

######################################## 文件系统 ########################################
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="200M"
